body{
    background-color: #EEEEEE;
}
*{
    margin: 0;
    padding: 0;
}
.FromForWeb{
    width: 1150px;
    height: 600px;
    background-color: white;
    box-sizing: content-box;
    padding: 10px 21px 32px 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    box-shadow: 0 5px 10px #d4d4d4;
    border-radius: 0.5vw;
}
.title{
    width: 132px;
    height: 50px;
    border-left: 4px solid #F79B2E;
    padding-top: 9px;
    padding-left: 8px;
    font-size: 31px;
    font-family: MicrosoftYaHei-Bold-, MicrosoftYaHei-Bold;
    font-weight: normal; 
}
.personInformationbox{
    width: 1100px;
    height: 143px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatar{
    width: 110px;
    height: 110px;
    border:  1px solid black;
    position: relative;
    margin-left: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 110px;
    }
}
.personInfoContent{
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.term{
    display: flex;
    align-items: center;
    height: 42px;
}
.detail{
    font-size: 15px;
    font-family: MicrosoftYaHei-, MicrosoftYaHei;
    margin-right: 10px;
}
input,select{
    width: 128px;
    height: 40px;
    border-radius: 12px 12px 12px 12px;
    border: 1px solid #5D5D5D;
    text-align: center;
}
#contactWayselect2,#contactWayselect1{
    width: 100px;
}
.registerInformationbox{
    width: 1100px;
    height: 420px;
    position: relative;
}
.wantGroup{
    position: absolute;
    top: 10px;
    left: 41px;
}
.reasonbox{
    width: 420px;
    height: 140px;
    position: absolute;
    left: 41px;
    top: 65px;
    display: flex;
    align-items: center;
}
#group_reason{
    width: 325px;
    height: 130px;
    padding: 5px;
}
.knowledgebox{
    width: 480px;
    height: 150px;
    position: absolute;
    left: 11px;
    top: 230px;
    display: flex;
    align-items: center;
}
#group_knowledge{
    width: 325px;
    height: 150px;
    padding: 5px;
}
.self_introbox{
    width: 480px;
    height: 180px;
    position: absolute;
    left: 500px;
    top: 20px;
    display: flex;
    align-items: center;
}
#self_inro{
    width: 402px;
    height: 178px;
    padding: 5px;
}
.questionbox{
    position: absolute;
    top: 250px;
    left: 600px;
    font-size: 19px;
    font-family: MicrosoftYaHei-Bold-, MicrosoftYaHei-Bold;
    font-weight:500;
    color: #5D5D5D;
}
input[type="radio"] {
    -webkit-appearance: none; /* 隐藏浏览器默认样式 */
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    border-radius: 50%; /* 设置为圆形 */
    outline: none;
    transition: all 0.3s ease-in-out;
  }
input[type="radio"]:checked {
    background-color: #FFC93F;
    border-color:#FFC93F;
  }
.answerbox{
    padding-top: 15px;
    width: 471px;
    display: flex;
    justify-content: space-around;
}
.send{
    width: 83px;
    height: 40px;
    position: absolute;
    bottom: 42px;
    right: 62px;
    border-radius: 5px;
    background-color: #F79B2E;
    color: white;
    font-weight: 900;
    font-size: 15px;
    font-family: MicrosoftYaHei-Bold-, MicrosoftYaHei-Bold;
}
