@import '../../../../../../styles/homework_index.less';
.comment-card {
    height: 80vh;
    overflow-y: hidden;
    background-color: @gray-200;
    border-radius: 0;
    .comment-wrap {
        overflow-y: auto;
        height: 60vh;
        .comment-tag {
            position: absolute;
            top: 32px;
            right: 5%;
            transform: translateY(-50%);
            margin-left: 20px;
        }
    }
    .ant-card-head {
        background-color: #fff;
        border-radius: 0;
    }
}