.reviewContent {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;

  .reviewGroup {
    width: 12vw;
    height: 70vh;
  }

  .reviewList {
    width: 70vw;
    height: 80vh;
    min-height: 765px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px #d4d4d4;
    border-radius: 0.5vw;
  }
}