@import '../../../../styles/homework_index.less';

.visitor-card {
    width: 70vw;
    height: 80vh;
    background: @white;
    box-shadow: @box-shadow;
    border-radius: 7px;
    margin-top: 20px;
    margin-left: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    .dashin(.4s,horizontal);
    .text-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}