@import '../../../../../styles/homework_index.less';

.judge-wrap {
  width: 80vw;
  display: flex;
  margin-top: 20px;
  .comment-write {
    height: 80vh;
    width: 40vw;
    border-radius: 9px;
    margin-left: 20px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    box-shadow: @box-shadow;
  }
}
